<section class="about" id="about">
    <div class="about-container">
        <img class="about-img" src="/img/about.jpg" alt="Jewelry crafting process" />

        <div class="about-content">
            <h2 class="about-title">The Artistry Behind Handmade Jewelry</h2>

            <p class="about-text">
                Handmade Jewelry began as a passion project, inspired by the beauty of
                nature and the desire to create meaningful pieces. Each item is crafted
                with love, reflecting our commitment to sustainability and the unique
                story of its maker.
            </p>

            <ul class="about-list">
                <li class="about-item">
                    <svg class="about-icon">
                        <use href="/img/sprite.svg#icon-leaf"></use>
                    </svg>
                    <span>Inspired by Nature</span>
                </li>

                <li class="about-item">
                    <svg class="about-icon">
                        <use href="/img/sprite.svg#icon-hand-heart"></use>
                    </svg>
                    <span>Handcrafted with Love</span>
                </li>

                <li class="about-item">
                    <svg class="about-icon">
                        <use href="/img/sprite.svg#icon-book"></use>
                    </svg>
                    <span>Every Piece Tells a Story</span>
                </li>
            </ul>
        </div>
    </div>
</section>
