<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Jewelry Showcase</h2>
    <p class="gallery-text">
      Discover the beauty of our handcrafted jewelry in style.
    </p>

    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="/img/webp/gallery-1@1x.webp"
          srcset="
            /img/webp/gallery-1@1x.webp 1x,
            /img/webp/gallery-1@2x.webp 2x
          "
          width="335"
          height="335"
          alt="Jewelry item 1"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="/img/webp/gallery-2@1x.webp"
          srcset="
            /img/webp/gallery-2@1x.webp 1x,
            /img/webp/gallery-2@2x.webp 2x
          "
          width="335"
          height="335"
          alt="Jewelry item 2"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="/img/webp/gallery-3@1x.webp"
          srcset="
            /img/webp/gallery-3@1x.webp 1x,
            /img/webp/gallery-3@2x.webp 2x
          "
          width="335"
          height="335"
          alt="Jewelry item 3"
          loading="lazy"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="/img/webp/gallery-4@1x.webp"
          srcset="
            /img/webp/gallery-4@1x.webp 1x,
            /img/webp/gallery-4@2x.webp 2x
          "
          width="335"
          height="335"
          alt="Jewelry item 4"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
