<section class="testimonials" id="testimonials">
  <div class="container">
    <h2 class="testimonials-title">Customer testimonials</h2>
    <p class="testimonials-main-text">
      Absolutely love my new earrings! They are stunning.
    </p>

    <ul class="testimonials-list">
      <li class="testimonials-item">
        <div class="image-wrapper">
          <div class="img-box">
            <img
              class="testimonials-image"
              srcset="/img/webp/woman.webp 1x, /img/webp/woman@2x.webp 2x"
              src="/img/webp/woman.webp"
              alt="Smiling women"
            />
          </div>
          <div class="img-box">
            <img
              class="testimonials-image"
              srcset="/img/webp/man.webp 1x, /img/webp/man@2x.webp 2x"
              src="/img/webp/man.webp"
              alt="Smiling man"
            />
          </div>
        </div>

        <div class="testimonials-wrapper">
          <ul class="testimonials-svg-list">
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-text">
            "Each piece tells a story, and I love mine!"
          </p>
          <p class="testimonials-author">Thomas Mans</p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-wrapper">
          <ul class="testimonials-svg-list">
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-svg-item">
              <svg class="testimonials-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-text">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>
          <p class="testimonials-author">Jane Edison</p>
        </div>

        <div class="image-wrapper">
          <div class="img-box">
            <img
              class="testimonials-image"
              srcset="/img/webp/hands.webp 1x, /img/webp/hands@2x.webp 2x"
              src="/img/webp/hands.webp"
              alt="our handmade ring"
            />
          </div>
          <div class="img-box">
            <img
              class="testimonials-image"
              srcset="/img/webp/coffee.webp 1x, /img/webp/coffee@2x.webp 2x"
              src="/img/webp/coffee.webp"
              alt="Bracelet made by us"
            />
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
