.contacts {
  width: 100%;
  padding: 64px 0;
}

/* -------section-block----------- */

.contacts-wrapper {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 16px;
}

.contacts-subtitle {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 24px;
}

.contacts-title-text {
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 48px;
}

/*---------- info-block ------------ */

.contacts-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contacts-info-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-info-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts-info-icon {
  margin-bottom: 16px;
}

.contacts-info-title {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
  color: #000;
}

.contacts-info-link {
  text-decoration-skip-ink: none;
  text-decoration: underline;
}

/* --------- form-block --------- */

.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.contacts-form-label {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.contacts-input {
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  width: 100%;
  padding: 8px 12px;
}

.contacts-input:focus,
.contacts-textarea:focus {
  border: 1px solid #ccc16e;
}

.contacts-input:not(:placeholder-shown):invalid {
  border: 1px solid #8c0000;
  color: #8c0000;
}

.contacts-input:not(:placeholder-shown):invalid:focus {
  border: 1px solid #8c0000;
}

.contacts-input:not(:placeholder-shown):invalid + .error {
  display: block;
}

.error {
  font-size: 16px;
  line-height: 1.5;
  display: none;
  color: #8c0000;
}

.contacts-textarea {
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  width: 100%;
  padding: 12px;
  height: 180px;
  resize: none;
}

.contacts-cta-btn {
  width: 100%;
  padding: 6px;
}

/* ---------- TABLET---------- */

@media (min-width: 768px) {
  .contacts-info-list {
    flex-direction: row;
    gap: 25px;
  }

  .contacts-cta-btn {
    max-width: 249px;
  }
}

/* ---------- DESKTOP---------- */

@media (min-width: 1440px) {
  .contacts-content {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contacts-form {
    width: 50%;
  }

  .contacts-info-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    width: 50%;
  }

  .contacts-info-item {
    flex: 0 0 calc(50% - 16px);
  }

  .contacts-subtitle {
    font-size: 48px;
  }

  .contacts-cta-btn {
    max-width: 192px;
  }
}
