.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 160px;
  height: 68px;
}

.logo-image {
  width: 148px;
  height: 46px;
}

.header-list {
  display: none;
}

.header-cta-btn {
  display: none;
}

.burger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header {
    padding: 18px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .logo {
    width: 84px;
    height: 36px;
  }

  .header-cta-btn {
    display: block;
    padding: 6px;
    width: 119px;
    text-align: center;
  }

  .logo-image {
    width: 78px;
    height: 24px;
  }

  .header-list {
    gap: 16px;
    display: flex;
  }

  .burger-btn {
    display: none;
  }

  .main-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}

@media (min-width: 1440px) {
  .header-list {
    gap: 32px;
  }

  .main-navigation {
    gap: 32px;
  }

  .header-cta-btn {
    margin-left: auto;
    width: 192px;
  }
}
